.search {
  &-container {
    grid-column: 1/4;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 1rem 0;
    padding: 3rem 0;
    border-radius: 1rem;
  }

  &-form {
    display: flex;
    align-items: center;
    justify-content: center;

    &-icon {
      border: none;
      background-color: white;
      z-index: 2;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(0.2rem);
      }

      &-button {
        height: 1.5rem;
        width: 2rem;
        fill: $color-nav-red;
      }
    }

    input {
      border: 0.1rem solid $color-nav-red;
      background-color: transparent;
      padding: 0.7rem 2rem;
      border-radius: 0.5rem;
      margin-left: -3rem;
      flex: 0 0 100%;
      text-indent: 2rem;

      &:focus {
        outline: none;
      }
    }

    &-button {
      margin-left: 1rem;
      padding: 0.8rem 2rem;
      background-color: $color-nav-red;
      color: white;
      border: $color-nav-red;
      border-radius: 0.5rem;

      &:hover {
        cursor: pointer;
      }

      &:focus {
        outline: none;
      }

      &:active {
        transform: translateY(0.2rem);
      }
    }
  }
}
